.tudy{
    width: 22.6%;
    margin-left: 25%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.totu{
    width: 30%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.txt{
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;

}

.prop{
    background-color: #282c34;
}